 <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      <!-- Replace with your content -->
      <div class="px-4 py-6 sm:px-0">
        <div class="border-4 border-dashed border-gray-200 rounded-lg">
            <a href="/post/{{id}}">
            <article class="box-border p-4">
                <div class="text-gray-500 flex justify-between">
                    <div class="inline-block">
                        <h1>{{title}}</h1>
                    </div>
                    <div class="inline-block">
                        By {{user.username}} on {{created_at}}
                    </div>
                </div>
                    <div class="meta">
                    {{post_text}} 
                    </div>
                    <div>
                        {{comments.length}}
                    </div>
            </article>
            </a>
        </div>
      </div>
      <!-- /End replace -->
    </div>


