 <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      <div class="px-4 py-6 sm:px-0">
                <div class="border-4 border-gray-200 rounded-t-lg bg-gray-200 flex justify-between shadow">
                    <div class="p-1 text-lg inline-block">
                        <h3>{{title}}</h3>
                    </div>
                    <div class="p-1 text-sm inline-block">
                        By {{user.username}} on {{format_date created_at}}
                    </div>
                </div>
                <div class="shadow rounded-b-lg">
                    <div class="p-2 bg-lightblue">
                        {{post_text}} 
                    </div>
                    <div class="p-2">
                        <a href="/post/{{id}}">
                        {{comments.length}} {{format_plural "comment" comments.length}}
                        </a>
                    </div>
                </div>
      </div>
    </div>


